* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    overflow: none; 
}

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkslateblue;
  color: aliceblue;
  padding: 15px 30px;
}

#nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

#nav-logo {
  font-size: 1.7rem;
  font-weight: 800;
}

#nav-items {
  display: flex;
  gap: 30px;
  font-size: 0.9rem;
  color: aliceblue;
}

#header-icons {
  display: flex;
  gap: 25px;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.greeting-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    color: #343333;
}

#greet{
    font-size: 28px;
}
#reminder{
    font-weight: bold;
}

.no-task-message {
  text-align: center;
  padding: 10px 30px;
  color: #888;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
}

#add-task-btn {
  padding: 8px 18px;
  background-color: darkslateblue;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

#add-task-btn:hover {
  background-color: slateblue;
}

#task-form-container {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.hidden {
  display: none;
}

#task-form-container input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse; 
  margin-top: 40px;
  border: 1px dotted #888;
}

th, td {
  padding: 12px 16px;
}

.delete-btn {
  padding: 5px 10px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.delete-btn:hover {
  background-color: darkred;
}

thead{
    font-size: small;
    background-color: #343333;
    color: rgb(237, 235, 235);
    padding: 12px 16px;
}

tbody{
  font-size: small;
  text-align: center;
}


